.table {
  margin: 20px auto;
  width: 1000px;
  border-collapse: collapse;
  height: 60px;
}
.th {
  padding: 10px 15px;
  background: rgb(80, 105, 133);
  color: white;
  font-size: 24px;
  border: 1px solid rgb(0, 0, 0);
  height: 40px;
}
.tr {
  background: rgb(210, 200, 255);
  border: 1px solid black;
  text-align: center;
  height: 40px;
}
.tr:nth-child(2n) {
  background: #ffffff;
}
